/* ROBOT.GIF from Giphy - https://giphy.com/gifs/animation-robot-character-design-3ohhwkEMAApurvNCGQ */

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: white;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('./robot.gif');
  background-size:auto;
  background-position: center center;
  background-repeat: no-repeat;
}