/* ROBOT.GIF from Giphy - https://giphy.com/gifs/warroominc-lol-laugh-laughing-drrbr0Cd7EgdmIofFG */

/* Color variables for global use */
:root {
  --background-light-blue: #C2DCFD;
  --border-dashed-blue: #DFEBFF;
  --text-outline-gray: #494b66;
  --button-normal-gray: #676986;
  --button-hover-gray: #5b5d79;
  --button-disabled-gray: #d0d9e6;
  --white: #fff;
  --black: #000;
  --shadow-dark: rgba(0, 0, 0, 0.1);
}

@font-face {
  font-family: 'Press Start 2P';
  src: url(fonts/PressStart2P-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto Mono';
  src: url(fonts/RobotoMono-VariableFont_wght.ttf) format('truetype');
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  height: 100vh;
  background-color: var(--white);
  font-family: 'Roboto Mono', Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
}

header {
  background-color: var(--background-light-blue);
  border-bottom: 1.5rem solid var(--border-dashed-blue);
  padding: 2rem;
}

h1 {
  font-size: 4.5rem;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.625rem;
  color: var(--white);
  margin: 0;
  -webkit-text-stroke: 0.125rem var(--text-outline-gray);
  text-shadow:
    0.1875rem 0.1875rem 0 var(--text-outline-gray),
    -0.0625rem -0.0625rem 0 var(--text-outline-gray),
    0.0625rem -0.0625rem 0 var(--text-outline-gray),
    -0.0625rem 0.0625rem 0 var(--text-outline-gray),
    0.0625rem 0.0625rem 0 var(--text-outline-gray);
}

footer {
  background-color: var(--background-light-blue);
  border-top: 1.5rem solid var(--border-dashed-blue);
  padding: 3rem;
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
  color: var(--text-outline-gray);
}

a:hover {
  text-decoration: underline;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: url('./robot.gif');
  background-size: contain;
  background-position: 25% 28%;
  background-repeat: no-repeat;
  margin-block: 10%;
}

button {
  cursor: pointer;
  outline: none;
  padding-inline: 2rem;
  padding-block: 1.25rem;
  font-family: 'Roboto Mono', Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  color: var(--white);
  border: none;
  border-radius: 0.375rem;
  box-shadow: 0px 0px 1rem 0.125rem rgba(0, 21, 88, 0.2);
  background-color: var(--button-normal-gray);
}

button:hover {
  background-color: var(--button-hover-gray);
}

button:active {
  transform: scale(0.98);
}

button:disabled {
  cursor: default;
  background-color: var(--button-disabled-gray);
  box-shadow: none;
}


.bubble {
  position: relative;
  display: inline-block;
  text-align: center;
  font-family: 'Press Start 2P';
  font-size: 0.8rem;
  line-height: 1.75em;
  background-color: var(--white);
  color: var(--black);
  padding: 1.25rem;
  box-shadow: 0 -0.25rem var(--white), 0 -0.5rem var(--black), 0.25rem 0 var(--white), 0.25rem -0.25rem var(--black), 0.5rem 0 var(--black), 0 0.25rem var(--white), 0 0.5rem var(--black), -0.25rem 0 var(--white), -0.25rem 0.25rem var(--black), -0.5rem 0 var(--black), -0.25rem -0.25rem var(--black), 0.25rem 0.25rem var(--black);
  width: initial;
  max-width: 30%;
}

.bubble::after {
  content: "";
  display: block;
  position: absolute;
  box-sizing: border-box;
  height: 0.25rem;
  width: 0.25rem;
  bottom: 0.5rem;
  left: -0.5rem;
  background: white;
  box-shadow: -0.25rem -0.25rem #fff, -0.25rem 0 #fff, -0.5rem 0 #fff, 0 -0.5rem #fff, -0.25rem 0.25rem #000, -0.5rem 0.25rem #000, -0.75rem 0.25rem #000, -1rem 0.25rem #000, -0.75rem 0 #000, -0.5rem -0.25rem #000, -0.25rem -0.5rem #000, 0 -0.25rem #fff;
}


@media screen and (max-width: 1000px) {
  html {
    font-size: 12px;
  }

  h1 {
    font-size: 2.5rem;
  }

  .bubble {
    max-width: 50%;
  }

  button {
    box-shadow: 0px 0px 1rem 0.125rem rgba(0, 21, 88, 0.3);

  }
}